@model List<Entity.Shop>
@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=divice-width" />
    <title>Main Page</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Home"))
        {
            <button name="action" value="Parsing">Просмотр кэш-бэков</button>
            <button name="action" value="SignIn">Войти</button>
            <button name="action" value="Registration">Зарегистрироваться</button>
        }
    </div>
</body>
</html>